.heroConference {
  position: relative;
  z-index: 0;
  padding-top: 12.3125rem;
  padding-bottom: 12.3125rem;
  background-color: #00000080;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.rootConference {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 18.375rem;
  padding: 6.4375rem;
  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.data {
  color: #ffffff;
  font-size: 0.9375rem;
  margin-bottom: 2.5rem;
}
.description {
  max-width: 33rem;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  margin-bottom: 2.5rem;
}
.button {
  padding: 0.5rem 1.75rem;
  border: none;
  background-color: #e2b219;
  font-size: 0.875rem;
}
