.applicationConference {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffe5;
}

.h2 {
  margin-bottom: 1.75rem;
}

.h3 {
  margin-bottom: 2.375rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.input {
  display: flex;
  flex-direction: column;
  label {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #000000;
    margin-bottom: 0.3125rem;
  }
  input {
    padding: 1rem 1.25rem;
    border: 0.125rem solid #e2b219;
    background-color: #ffffe5;
    &::placeholder {
      font-weight: 400;
      font-size: 0.9375rem;
      line-height: 1.25rem;
      color: #000000;
    }
  }
}

.submit {
  align-self: self-end;
  input {
    background-color: #e2b219;
  }
}
.inputDisabled {
  input {
    opacity: 0.6;
  }
}
