.card {
  .title {
    width: 16.3rem;
    margin-top: 0.4375rem;
    color: #000000;
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }
  .date {
    margin-top: 0.4375rem;
    color: #000000;
    font-size: 0.75rem;
  }
}
